<div class="row">
	<div class="panel panel-default panel-primary">
	<div class="panel-heading clearfix">
		<h2 class="panel-title">
			Derechos de acceso
			<button ng-click="usuariosAccesoCtrl.switchTableMode()" class="pull-right btn btn-small btn-danger">
				 <i ng-if="usuariosAccesoCtrl.tableMode" class="fa fa-print" aria-hidden="true"></i> <i ng-if="usuariosAccesoCtrl.tableMode" class="fa fa-file-pdf-o" aria-hidden="true"></i> <i ng-if="!usuariosAccesoCtrl.tableMode" class="fa fa-long-arrow-left" aria-hidden="true"></i>
			</button>
			<button ng-click="usuariosAccesoCtrl.openModalAccesoUsuario('create', null)" class=" pull-right btn btn-small btn-success">
				Nuevo <span><i class="glyphicon glyphicon-plus"></i></span>
			</button>
		</h2>
	
	</div>
	<div class="panel-body">
		<div class="table-responsive" ng-if="usuariosAccesoCtrl.tableMode">
			<table class="table table-striped" ng-table="usuariosAccesoCtrl.usuariosAccesoTable">
				<tr ng-repeat="accesoUsuario in $data track by accesoUsuario.ID_ACCESO_USUARIO"
					ng-click="usuariosAccesoCtrl.setSelected(accesoUsuario.ID_ACCESO_USUARIO)"
                    ng-class="{info: accesoUsuario.ID_ACCESO_USUARIO === usuariosAccesoCtrl.idSelectedAccesoUsuario}">					
					<td data-title="'ID'" filter="{ID_ACCESO_USUARIO: 'text'}" sortable="'ID_ACCESO_USUARIO'">{{accesoUsuario.ID_ACCESO_USUARIO}}</td>
					<td data-title="'DESCRIPCION'" filter="{DESCRIPCION: 'text'}" sortable="'DESCRIPCION'">{{accesoUsuario.DESCRIPCION}}</td>
					<td style="width:60px">
						<button ng-if="accesoUsuario.ID_ACCESO_USUARIO === usuariosAccesoCtrl.idSelectedAccesoUsuario"
							ng-click="usuariosAccesoCtrl.openModalAccesoUsuario('edit', accesoUsuario)"
							class="btn btn-small btn-primary">
							<i class="glyphicon glyphicon-pencil"></i>
						</button>
					</td>
					<td style="width:60px">
						<button ng-if="accesoUsuario.ID_ACCESO_USUARIO === usuariosAccesoCtrl.idSelectedAccesoUsuario"
							ng-click="usuariosAccesoCtrl.openModalAccesoUsuario('delete', accesoUsuario)"
							class="btn btn-small btn-danger">
							<i class="glyphicon glyphicon-remove"></i>
						</button>
					</td>
				</tr>
			</table>
		</div>
		<div ng-if="!usuariosAccesoCtrl.tableMode" style="height:350px"  id="grid1" ui-grid="gridOptions" ui-grid-exporter ui-grid-selection class="grid"></div>
	</div>
</div>

</div>

