
<div class="panel panel-default panel-primary">
	<div class="panel-heading clearfix">
		<h2 class="panel-title">
			Derechos de acceso
			<button ng-click="usuariosAccesoCtrl.switchTableMode()" class="pull-right btn btn-small btn-danger btn_separate">
				 <i ng-if="usuariosAccesoCtrl.tableMode" class="fa fa-print" aria-hidden="true"></i> <i ng-if="usuariosAccesoCtrl.tableMode" class="fa fa-file-pdf-o" aria-hidden="true"></i> <i ng-if="!usuariosAccesoCtrl.tableMode" class="fa fa-long-arrow-left" aria-hidden="true"></i>
			</button>
			<span modal-directive modal-data="usuariosAccesoCtrl.modalCreate"></span>
		</h2>
	</div>
	<div class="panel-body">
		<div class="table-responsive" ng-if="usuariosAccesoCtrl.tableMode">
			<table class="table table-striped" ng-table-dynamic="usuariosAccesoCtrl.table with columns" show-filter="true">
				<tr ng-repeat="accesoUsuario in $data track by accesoUsuario.ID_ACCESO_USUARIO"
					ng-click="usuariosAccesoCtrl.setSelected(accesoUsuario.ID_ACCESO_USUARIO)"
					ng-class="{info: accesoUsuario.ID_ACCESO_USUARIO === usuariosAccesoCtrl.idSelectedAccesoUsuario}">
					<td ng-repeat="col in columns" ng-class="{button_cell: col.field=='BUTTONS'}">
						{{accesoUsuario[col.field]}}
						<div ng-if="accesoUsuario.ID_ACCESO_USUARIO === usuariosAccesoCtrl.idSelectedAccesoUsuario && col.field=='BUTTONS'">
							<span modal-directive
							modal-data="usuariosAccesoCtrl.modalEdit"
							modal-selected-data="accesoUsuario">
							</span>
							<span modal-directive
							modal-data="usuariosAccesoCtrl.modalDelete"
							modal-selected-data="accesoUsuario">
							</span>
						</div>
					</td>
				</tr>
			</table>
		</div>
		<div ng-if="!usuariosAccesoCtrl.tableMode" id="gridUsuariosAcceso" ui-grid="gridOptions" ui-grid-exporter ui-grid-selection class="grid">
		</div>
	</div>
</div>
