<div class="modal-header">
	<h3 class="modal-title"> Nuevo cliente </h3>
</div>
<div class="modal-body">
	<form role="form"
			name="formCreateCliente"
			ng-submit="modalClienteCtrl.createCliente(modalClienteCtrl.createdCliente)"
			novalidate>

		<!--Text Example-->
		<div class="form-group"
				ng-class="{'has-error': formCreateCliente.nombreF.$error.required &&
										!formCreateCliente.nombreF.$pristine}">
			<label for="nombre">Nombre</label>

			<input type="text"
					class="form-control"
					id="nombre"
					name="nombreF"
					ng-model="modalClienteCtrl.createdCliente.NOMBRE"
					placeholder="Nombre"
					required>

			<span ng-show="formCreateCliente.nombreF.$error.required &&
							!formCreateCliente.nombreF.$pristine"
					class="help-block">Su nombre es obligatorio</span>
		</div>

		<!--Email Example-->
		<div class="form-group has-feedback"
				ng-class="{'has-error':(formCreateCliente.emailF.$invalid ||
										formCreateCliente.emailF.$error.required) &&
										!formCreateCliente.emailF.$pristine}">
			<label for="email" class="control-label">Correo electronico</label>

			<input type="email"
					class="form-control"
					id="email"
					name="emailF"
					ng-model="modalClienteCtrl.createdCliente.EMAIL"
					placeholder="Correo electronico"
					required>

			<span ng-show="formCreateCliente.emailF.$invalid && !formCreateCliente.emailF.$pristine"
					class="glyphicon glyphicon-remove form-control-feedback"
					aria-hidden="true"></span>
			<span ng-show="(formCreateCliente.emailF.$invalid ||
							formCreateCliente.emailF.$error.required) &&
							!formCreateCliente.emailF.$pristine"
					class="help-block">Ingrese un correo electronico valido</span>
		</div>

		<div class="form-group"
				ng-class="{'has-error': formCreateCliente.rucF.$error.required &&
										!formCreateCliente.rucF.$pristine}">
			<label for="ruc">RUC</label>

			<input type="text"
					class="form-control"
					id="ruc"
					name="rucF"
					ng-model="modalClienteCtrl.createdCliente.RUC"
					placeholder="RUC"
					required>

			<span ng-show="formCreateCliente.rucF.$error.required &&
							!formCreateCliente.rucF.$pristine"
					class="help-block">Su RUC es obligatorio</span>
		</div>

		<div class="form-group"
				ng-class="{'has-error': formCreateCliente.numeroCuentaF.$error.required &&
										!formCreateCliente.numeroCuentaF.$pristine}">
			<label for="numeroCuenta">Numero de Cuenta</label>

			<input type="text"
					class="form-control"
					id="numeroCuenta"
					name="numeroCuentaF"
					ng-model="modalClienteCtrl.createdCliente.NUMERO_CUENTA"
					placeholder="Numero de Cuenta"
					required>

			<span ng-show="formCreateCliente.numeroCuentaF.$error.required &&
							!formCreateCliente.numeroCuentaF.$pristine"
					class="help-block">Su Numero de Cuenta es obligatorio</span>
		</div>

		<div class="form-group"
				ng-class="{'has-error': formCreateCliente.direccionCalleF.$error.required &&
										!formCreateCliente.direccionCalleF.$pristine}">
			<label for="direccionCalle">Calle</label>

			<input type="text"
					class="form-control"
					id="direccionCalle"
					name="direccionCalleF"
					ng-model="modalClienteCtrl.createdCliente.DIRECCION_CALLE"
					placeholder="Calle"
					required>

			<span ng-show="formCreateCliente.direccionCalleF.$error.required &&
							!formCreateCliente.direccionCalleF.$pristine"
					class="help-block">El campo Calle es obligatorio</span>
		</div>

		<div class="form-group"
				ng-class="{'has-error': formCreateCliente.direccionDistritoF.$error.required &&
										!formCreateCliente.direccionDistritoF.$pristine}">
			<label for="direccionDistrito">Distrito</label>

			<input type="text"
					class="form-control"
					id="direccionDistrito"
					name="direccionDistritoF"
					ng-model="modalClienteCtrl.createdCliente.DIRECCION_DISTRITO"
					placeholder="Distrito"
					required>

			<span ng-show="formCreateCliente.direccionDistritoF.$error.required &&
							!formCreateCliente.direccionDistritoF.$pristine"
					class="help-block">El campo Distrito es obligatorio</span>
		</div>

		<div class="form-group"
				ng-class="{'has-error': formCreateCliente.direccionDepartamentoF.$error.required &&
										!formCreateCliente.direccionDepartamentoF.$pristine}">
			<label for="direccionDepartamento">Departamento</label>

			<input type="text"
					class="form-control"
					id="direccionDepartamento"
					name="direccionDepartamentoF"
					ng-model="modalClienteCtrl.createdCliente.DIRECCION_DEPARTAMENTO"
					placeholder="Departamento"
					required>

			<span ng-show="formCreateCliente.direccionDepartamentoF.$error.required &&
							!formCreateCliente.direccionDepartamentoF.$pristine"
					class="help-block">El campo Departamento es obligatorio</span>
		</div>

		<div class="form-group">
			<label for="direccionComplemento">Complemento</label>
			<input type="text"
					class="form-control"
					id="direccionComplemento"
					name="direccionComplemento"
					ng-model="modalClienteCtrl.createdCliente.DIRECCION_COMPLEMENTO"
					placeholder="Complemento">
		</div>

		<div class="form-group">
			<label for="telefono">Telefono</label>
			<input type="text"
					class="form-control"
					id="telefono"
					name="telefono"
					ng-model="modalClienteCtrl.createdCliente.TELEFONO"
					placeholder="Telefono">
		</div>

		<div class="form-group">
			<button type="submit" class="btn btn-success" ng-disabled="formCreateCliente.$invalid">
				<i class="fa fa-check" aria-hidden="true"></i>
			</button>
			<button class="btn btn-danger" type="button" ng-click="modalClienteCtrl.cancel()">
				<i class="fa fa-times" aria-hidden="true"></i>
			</button>
		</div>
	</form>
</div>
