<div class="panel panel-default panel-primary">
    <div class="panel-heading clearfix">
        <h3 class="panel-title">Categorias</h3>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table ng-table="articulosCategoriaCtrl.categoriasTable" class="table" show-filter="true">
                <thead>
                    <tr>
                        <th>
                            <a ng-click="articulosCategoriaCtrl.setType('ID_CATEGORIA')">
                                Id
                                <span ng-show="articulosCategoriaCtrl.sortType == 'ID_CATEGORIA' && !articulosCategoriaCtrl.sortReverse"
                                        class="fa fa-caret-down"></span>
                                <span ng-show="articulosCategoriaCtrl.sortType == 'ID_CATEGORIA' && articulosCategoriaCtrl.sortReverse"
                                        class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th>
                            <a ng-click="articulosCategoriaCtrl.setType('DESCRIPCION')">
                                Descripcion
                                <span ng-show="articulosCategoriaCtrl.sortType == 'DESCRIPCION' && !articulosCategoriaCtrl.sortReverse"
                                        class="fa fa-caret-down"></span>
                                <span ng-show="articulosCategoriaCtrl.sortType == 'DESCRIPCION' && articulosCategoriaCtrl.sortReverse"
                                        class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="categoria in articulosCategoriaCtrl.categoriasData.Categorias |
                                                orderBy:articulosCategoriaCtrl.sortType:articulosCategoriaCtrl.sortReverse"
                        ng-click="articulosCategoriaCtrl.setSelected(categoria.ID_CATEGORIA)"
                        ng-class="{info: categoria.ID_CATEGORIA === articulosCategoriaCtrl.idSelectedCategoria}">
                        <td>{{categoria.ID_CATEGORIA}}</td>
                        <td>{{categoria.DESCRIPCION}}</td>

                        <td style="width:60px">
                            <button ng-if="categoria.ID_CATEGORIA === articulosCategoriaCtrl.idSelectedCategoria"
                                ng-click="articulosCategoriaCtrl.openModal('edit', categoria)"
                                class="btn btn-small btn-primary">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </button>
                        </td>
                        <td style="width:60px">
                            <button ng-if="categoria.ID_CATEGORIA === articulosCategoriaCtrl.idSelectedCategoria"
                                ng-click="articulosCategoriaCtrl.openModal('delete', categoria)"
                                class="btn btn-small btn-danger">
                                <i class="glyphicon glyphicon-remove"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<button ng-click="articulosCategoriaCtrl.openModal('create', null)"
        class="btn btn-small">
    Nuevo <span><i class="glyphicon glyphicon-plus"></i></span>
</button>
