<div class="panel panel-default">
	<div class="panel-heading ">
		<h3 class="panel-title">{{nombreAlmacen.nombre}}</h3>
	</div>
	<div class="panel-body bg-success">
		<form>
			<div class="row">
				<div class="col-xs-6 col-md-5">
					<div class="form-group">
						<label for="codigoArticulo">Codigo Articulo</label>
						<input type="text" class="form-control" id="codigoArticulo" ng-model="filtro.CODIGO" placeholder="Codigo Articulo">
					</div>
				</div>
				<div class="col-xs-6 col-md-5 col-md-offset-2">
					<div class="form-group">
						<label for="descripcion">Descripcion</label>
						<input type="text" class="form-control" id="descripcion" ng-model="filtro.DESCRIPCION" placeholder="Descripcion">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-4 col-md-4">
					<div class="form-group">
						<label for="categoria">Categoria</label>
						<input type="text" class="form-control" id="categoria" ng-model="filtro.CATEGORIA">
					</div>
				</div>
				<div class="col-xs-4 col-xs-offset-1 col-md-3 col-md-offset-3">
					<div class="form-group">
						<label for="verComo">Ver como</label>
						<input type="text" class="form-control" id="verComo" 
								ng-model="filtro.VER_COMO">
					</div>
				</div>
				<div class="col-xs-3  col-md-2">

					<button class="btn btn-default  btn-circle btn-xl pull-right" type="button" id="buscar">
                		<i class="glyphicon glyphicon-search"></i>
            		</button>
					
				</div>
			</div>
		</form>
	</div>
</div>
