<div class="modal-header">
    <h3 class="modal-title">Nuevo almacen</h3>
</div>
<div class="modal-body">
  <form>
    <div class="form-group">
      <label for="codigo">Codigo</label>
      <input type="text"
            class="form-control"
            id="codigo" 
            ng-model="almacen_created.CODIGO"
            placeholder="Codigo">
    </div>
    <div class="form-group">
      <label for="ubicacion">Ubicacion</label>
      <input type="text"
            class="form-control"
            id="ubicacion"
            ng-model="almacen_created.UBICACION" 
            placeholder="Ubicacion">
    </div>
  </form>
</div>
<div class="modal-footer">
    <button class="btn btn-success"
            type="button"
            ng-click="modalAlmacenCtrl.createAlmacen(almacen_created)">
            Crear <i class="fa fa-check" aria-hidden="true"></i>
    </button>
    <button class="btn btn-danger"
            type="button"
            ng-click="modalAlmacenCtrl.cancel()">
            Cancelar <i class="fa fa-times" aria-hidden="true"></i>
    </button>
</div>