.done-true {
	text-decoration: line-through;
	color: red;
}

.headerXWebApp {
	background-color: #202347;
	color: #FFFFFF;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

.homepage {
	background-color: #202347;
	color: #FFFFFF;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

.homepage h1 {
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 36px;
	font-style: normal;
	font-variant: small-caps;
}

.btn_separate {
	margin: 2px;
}

.underheader {
	margin-top: 30px;
}

.leftmargin {
	margin-left: 250px;
	margin-right: 0;
}


@media (max-width: 767px) {
	.leftmargin {
		margin-left: 5px;
		margin-right: 5px;
		border-right: 1px;
		padding-right: 1px;
	}

	.buttonhide {
		display: none;
	}

	.underheader {
		margin-top: 55px;
	}
}
.list_home {
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	text-align: center;
}

.list_home a {
	padding-top: 10%;
	background-color: #202347;
	padding-bottom: 10%;
	color: #FFFFFF;

}
.blue { color: blue;  }

.grid {
	width: 100%;
	height: 80%;
}
 
.my-custom-menu {
	position: absolute;
}
 
.my-custom-menu .ui-grid-menu {
	padding: 0px;
}
 
.my-custom-menu .ui-grid-menu-inner {
	-webkit-box-shadow: none;
	box-shadow: none;
}
 
.rotated {
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
}

.ui-grid-menu-button {
  height: 31px;
}