<div class="modal-header">
	<h3 class="modal-title"> Creando ingreso </h3>
</div>
<div class="modal-body">
	<form role="form"
			name="formCreateIngreso"
			ng-submit="modalIngresoCtrl.createIngreso(modalIngresoCtrl.createdIngreso)"
			novalidate>

		<!--Text Example-->
		<div class="form-group"
				ng-class="{'has-error': formCreateIngreso.codeIngresoF.$error.required &&
										!formCreateIngreso.codeIngresoF.$pristine}">
			<label for="codeIngreso">Codigo de ingreso</label>

			<input type="text"
					class="form-control"
					id="codeIngreso"
					name="codeIngresoF"
					ng-model="modalIngresoCtrl.createdIngreso.CODE_INGRESO"
					placeholder="Codigo de ingreso"
					required>

			<span ng-show="formCreateIngreso.codeIngresoF.$error.required &&
							!formCreateIngreso.codeIngresoF.$pristine"
					class="help-block">El codigo de ingreso es obligatorio</span>
		</div>


		<!-- Dropdown List Example -->
		<div class="form-group">
			<label for="tipoDocumento"> Tipo de documento</label>
			<select class="form-control"
					ng-model="modalIngresoCtrl.createdIngreso.FK_TIPO_DOCUMENTO"
					name="obj"
					ng-options="obj.ID_TIPO_DOCUMENTO as obj.DESCRIPCION for obj in modalIngresoCtrl.tipoDocumentoList">
			</select>
		</div>

		<!-- Dropdown List Example -->
		<div class="form-group">
			<label for="proveedores"> Proveedores</label>
			<select class="form-control"
					ng-model="modalIngresoCtrl.createdIngreso.FK_PROVEEDOR"
					name="obj"
					ng-options="obj.ID_PROVEEDOR_CLIENTE as obj.NOMBRE for obj in modalIngresoCtrl.proveedorList">
			</select>
		</div>



		<div class="form-group">
			<button type="submit" class="btn btn-success" ng-disabled="formCreateIngreso.$invalid">
				<i class="fa fa-check" aria-hidden="true"></i>
			</button>
			<button class="btn btn-danger" type="button" ng-click="modalIngresoCtrl.cancel()">
				<i class="fa fa-times" aria-hidden="true"></i>
			</button>
		</div>
	</form>
</div>