<div class="modal-header">
	<h3 class="modal-title"> Editando ingreso </h3>
</div>
<div class="modal-body">
	<form role="form"
			name="formEditIngreso"
			ng-submit="modalIngresoCtrl.updateIngreso(modalIngresoCtrl.selectedIngreso)"
			novalidate>

		<div class="form-group">
			<label for="tipoDocumento"> Tipo de documento</label>
			<select class="form-control"
					ng-model="modalIngresoCtrl.selectedIngreso.FK_TIPO_DOCUMENTO"
					name="obj"
					ng-options="obj.ID_TIPO_DOCUMENTO as obj.DESCRIPCION for obj in modalIngresoCtrl.tipoDocumentoList">
			</select>
		</div>

		<!-- Dropdown List Example -->
		<div class="form-group">
			<label for="proveedores"> Proveedores</label>
			<select class="form-control"
					ng-model="modalIngresoCtrl.selectedIngreso.FK_PROVEEDOR"
					name="obj"
					ng-options="obj.ID_PROVEEDOR_CLIENTE as obj.NOMBRE for obj in modalIngresoCtrl.proveedorList">
			</select>
		</div>

		<div class="form-group">
			<button type="submit" class="btn btn-success" ng-disabled="formEditIngreso.$invalid">
				<i class="fa fa-check" aria-hidden="true"></i>
			</button>
			<button class="btn btn-danger" type="button" ng-click="modalIngresoCtrl.cancel()">
				<i class="fa fa-times" aria-hidden="true"></i>
			</button>
		</div>
	</form>
</div>