<xwebapp-lateral-bar usuariotipo=1></xwebapp-lateral-bar>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse ">
                    <ul class="nav" id="menu">
                        <li class="sidebar-search">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a><i class="glyphicon glyphicon-apple" ></i> Dashboard</a>
                        </li>
                        <li>
                            <a>
                                <i class="glyphicon glyphicon-user">
                                    
                                </i> Usuarios<span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <ul class="nav nav-second-level">
                                <li ng-class="{'active':usuarioacceso==1}">
                                    <a ui-sref="usuarioacceso" ui-sref-opts="{reload: false}">Derechos de acceso</a>
                                </li>
                                <li ng-class="{'active':usuariotipo==1}">
                                    <a ui-sref="usuariotipo" ui-sref-opts="{reload: false}">Tipos de usuario</a>
                                </li>
                                <li ng-class="{'active':usuarios==1}">
                                    <a ui-sref="usuarios" ui-sref-opts="{reload: false}">Gestion de usuarios</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>

                        <li>
                            <a href="#"><i class="glyphicon glyphicon-wrench"></i> Almacenes<span class="glyphicon glyphicon-chevron-left"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a>Consultar</a>
                                </li>
                                <li>
                                    <a href="#">Gestion de almacenes <span class="glyphicon glyphicon-chevron-left"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a>A</a>
                                        </li>
                                        <li>
                                            <a>B</a>
                                        </li>
                                        <li>
                                            <a>C</a>
                                        </li>
                                        <li>
                                            <a>TODOS</a>
                                        </li>
                                    </ul>
                                    <!-- /.nav-third-level -->
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="glyphicon glyphicon-pencil"></i> Articulos<span class="glyphicon glyphicon-chevron-left"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a>Gestion de articulos</a>
                                </li>
                                
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="glyphicon glyphicon-pencil"></i> Personas<span class="glyphicon glyphicon-chevron-left"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a>Clientes</a>
                                </li>
                                <li>
                                    <a>Proveedores</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="glyphicon glyphicon-pencil"></i> Movimientos<span class="glyphicon glyphicon-chevron-left"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a>Ingresos</a>
                                </li>
                                <li>
                                    <a>Salidas</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-1">
            
        </div>
        <div class="col-md-4">
            <div class="table-responsive">
                <table ng-table="usuariosTipoTable" class="table">
                    <thead>
                    <tr>
                        <th style="max-width: 50px">Id</th>
                        <th style="max-width: 200px">Tipo</th>
                        <th style="max-width: 20px"></th>
                        <th style="max-width: 20px"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="tipoUsuario in $data.TiposUsuario" ng-click="setSelected(tipoUsuario.ID_TIPO_USUARIO)"
                        ng-class="{selected: tipoUsuario.ID_TIPO_USUARIO === idSelectedTipoUsuario}">
                        <td style="max-width: 50px">{{tipoUsuario.ID_TIPO_USUARIO}}</td>
                        <td style="max-width: 50px">{{tipoUsuario.TIPO}}</td>
                        <td style="width:20px">
                            <button ng-if="tipoUsuario.ID_TIPO_USUARIO === idSelectedTipoUsuario"
                                ng-click="openModalTipoUsuario('edit', tipoUsuario)"
                                class="btn btn-small btn-primary">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </button>
                        </td>
                        <td style="width:20px">
                            <button ng-if="tipoUsuario.ID_TIPO_USUARIO === idSelectedTipoUsuario"
                                ng-click="openModalTipoUsuario('delete', tipoUsuario)"
                                class="btn btn-small btn-danger">
                                <i class="glyphicon glyphicon-remove"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <button ng-click="openModalTipoUsuario('create', null)"
                            class="btn btn-small hvr-fade">
                        Crear Tipo Usuario <span><i class="glyphicon glyphicon-plus"></i></span>
                </button>
            </div>
        </div>
        <div class="col-md-5" ng-if="idSelectedTipoUsuario!=null">
            TOTO
        </div>   
    </div> 
</div>