<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h3 class="panel-title">Tipos de usuario</h3>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table ng-table="usuariosTipoTable" class="table">
                <thead>
                    <tr>
                        <th>
                            <a ng-click="setType('ID_TIPO_USUARIO')">
                                Id
                                <span ng-show="sortType == 'ID_TIPO_USUARIO' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'ID_TIPO_USUARIO' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th>
                            <a ng-click="setType('TIPO')">
                                Tipo
                                <span ng-show="sortType == 'TIPO' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'TIPO' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="tipoUsuario in $data.TiposUsuario | orderBy:sortType:sortReverse" ng-click="setSelected(tipoUsuario.ID_TIPO_USUARIO)"
                        ng-class="{info: tipoUsuario.ID_TIPO_USUARIO === idSelectedTipoUsuario}">
                        <td>{{tipoUsuario.ID_TIPO_USUARIO}}</td>
                        <td>{{tipoUsuario.TIPO}}</td>
                        <td style="width:60px">
                            <button ng-if="tipoUsuario.ID_TIPO_USUARIO === idSelectedTipoUsuario"
                                ng-click="openModalTipoUsuario('edit', tipoUsuario)"
                                class="btn btn-small btn-primary">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </button>
                        </td>
                        <td style="width:60px">
                            <button ng-if="tipoUsuario.ID_TIPO_USUARIO === idSelectedTipoUsuario"
                                ng-click="openModalTipoUsuario('delete', tipoUsuario)"
                                class="btn btn-small btn-danger">
                                <i class="glyphicon glyphicon-remove"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<button ng-click="openModalTipoUsuario('create', null)"
    class="btn btn-small">
    Crear Tipo Usuario <span><i class="glyphicon glyphicon-plus"></i></span>
</button>
<button ng-click="watchPDF()" class="btn btn-small btn-danger pull-right" ng-if="idSelectedTipoUsuario!=null">
            PDF <span><i class="fa fa-file-pdf-o" aria-hidden="true"></i></span>
</button>

