<div class="col-xs-6">
	<div class="panel panel-default panel-primary">
		<div class="panel-heading clearfix">
			<h2 class="panel-title">Tipos de usuario
				<button ng-click="usuariosTipoCtrl.switchTableMode()" class="pull-right btn btn-small btn-danger btn_separate">
					 <i ng-if="usuariosTipoCtrl.tableMode" class="fa fa-print" aria-hidden="true"></i> <i ng-if="usuariosTipoCtrl.tableMode" class="fa fa-file-pdf-o" aria-hidden="true"></i> <i ng-if="!usuariosTipoCtrl.tableMode" class="fa fa-long-arrow-left" aria-hidden="true"></i>
				</button>
				<span modal-directive modal-data="usuariosTipoCtrl.modalCreate"></span>
			</h2>
		</div>
		<div class="panel-body">
			<div class="table-responsive" ng-if="usuariosTipoCtrl.tableMode">
				<table class="table table-striped" ng-table-dynamic="usuariosTipoCtrl.table with columns" show-filter="true">
					<tr ng-repeat="tipoUsuario in $data track by tipoUsuario.ID_TIPO_USUARIO"
						ng-click="usuariosTipoCtrl.setSelected(tipoUsuario)"
						ng-class="{info: tipoUsuario.ID_TIPO_USUARIO === usuariosTipoCtrl.idSelectedTipoUsuario}">
						<td ng-repeat="col in columns" ng-class="{button_cell: col.field=='BUTTONS'}">
	                      {{tipoUsuario[col.field]}}
	                      <div ng-if="tipoUsuario.ID_TIPO_USUARIO === usuariosTipoCtrl.idSelectedTipoUsuario && col.field=='BUTTONS'">
	                        <span modal-directive
	                            modal-data="usuariosTipoCtrl.modalEdit"
	                            modal-selected-data="tipoUsuario">
	                        </span>
	                        <span modal-directive
	                            modal-data="usuariosTipoCtrl.modalDelete"
	                            modal-selected-data="tipoUsuario">
	                        </span>
	                      </div>
	                    </td>
					</tr>
				</table>
			</div>
			<div ng-if="!usuariosTipoCtrl.tableMode" id="gridUsuariosTipo" ui-grid="gridOptions" ui-grid-exporter ui-grid-selection class="grid">
			</div>
		</div>
	</div>
</div>
<div class="col-xs-6 animate-show" ng-show="usuariosTipoCtrl.showAccesos">
	<div class="panel panel-default panel-primary">
		<div class="panel-heading clearfix">
			<h3 class="panel-title">Derechos de acceso
				<button ng-if="usuariosTipoCtrl.idSelectedTipoUsuario !== null" ng-click="usuariosTipoCtrl.openModalAssoTipoAcceso(tipoUsuario)" class="btn_separate pull-right btn btn-small btn-success">
					Cambiar <span><i class="glyphicon glyphicon-pencil"></i></span>
				</button>
			</h3>
		</div>
		<div class="panel-body">
			<div class="table-responsive">
				<table ng-table="usuariosTipoCtrl.assoTipoAccesoTable" class="table">
					<tr ng-repeat="accesoUsuario in $data track by accesoUsuario.ID_ACCESO_USUARIO">
						<td data-title="'DESCRIPCION'" filter="{DESCRIPCION: 'text'}" sortable="'DESCRIPCION'">{{accesoUsuario.DESCRIPCION}}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
