<xwebapp-nav-bar userlist=1></xwebapp-nav-bar>

<div class="span6">
    <table ng-table="usersTable" class="table table-striped table-condensed">
        <thead>
        <tr>
            <th style="min-width: 80px;">Id</th>
            <th style="min-width: 80px;">Email</th>
            <th style="min-width: 80px;">Password</th>
            <th style="min-width: 80px;">Join Date</th>
            <th style="width:20px;"> </th>
            <th style="width:20px;"> </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in $data.Users">
            <td>{{user.user_id}}</td>
            <td>{{user.user_email}}</td>
            <td>{{user.user_password}}</td>
            <td>{{user.user_join_date}}</td>
            <td><a ng-click="openModalUser('edit', user)" class="btn btn-small btn-primary">Editar</a></td>
            <td><a ng-click="openModalUser('delete', user)" class="btn btn-small btn-danger">Borrar</a></td>
        </tr>
        </tbody>
    </table>
    <button ng-click="openModalUser('create', null)" class="btn btn-small hvr-fade">Crear usuario</button>
</div>