<div class="panel panel-default panel-primary">
    <div class="panel-heading clearfix">
        <h3 class="panel-title">Articulos</h3>
    </div>
    <div class="panel-body ">
        <div class="table-responsive">
            <table ng-table="articlesTable" class="table">
                <thead>
                    <tr>
                        <th>Imagen</th>
                        <th>
                            <a ng-click="setType('ID_ARTICULO')">
                                Id
                                <span ng-show="sortType == 'ID_ARTICULO' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'ID_ARTICULO' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th>
                            <a ng-click="setType('CODIGO')">
                                Codigo
                                <span ng-show="sortType == 'CODIGO' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'CODIGO' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th>
                            <a ng-click="setType('DESCRIPCION')">
                                Descripcion
                                <span ng-show="sortType == 'DESCRIPCION' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'DESCRIPCION' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th>
                            <a ng-click="setType('UNIDAD')">
                                Unidad
                                <span ng-show="sortType == 'UNIDAD' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'UNIDAD' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th>
                            <a ng-click="setType('PRECIO_UNITARIO')">
                                Precio Unitario
                                <span ng-show="sortType == 'PRECIO_UNITARIO' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'PRECIO_UNITARIO' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th>
                            <a ng-click="setType('VALOR_REPOSICION')">
                                Valor de Reposicion
                                <span ng-show="sortType == 'VALOR_REPOSICION' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'VALOR_REPOSICION' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="articulo in $data.Articulos|orderBy:sortType:sortReverse"
                        ng-click="setSelected(articulo.ID_ARTICULO)"
                        ng-class="{info: articulo.ID_ARTICULO === idSelectedArticulo}">
                        <td>{{articulo.FOTO}}</td>
                        <td>{{articulo.ID_ARTICULO}}</td>
                        <td>{{articulo.CODIGO}}</td>
                        <td>{{articulo.DESCRIPCION}}</td>
                        <td>{{articulo.UNIDAD}}</td>
                        <td>{{articulo.PRECIO_UNITARIO}}</td>
                        <td>{{articulo.VALOR_REPOSICION}}</td>
                        <td style="width:60px">
                            <button ng-if="articulo.ID_ARTICULO === idSelectedArticulo"
                                ng-click="openModalArticulo('edit', articulo)"
                                class="btn btn-small btn-primary">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </button>
                        </td>
                        <td style="width:60px">
                            <button ng-if="articulo.ID_ARTICULO === idSelectedArticulo"
                                ng-click="openModalArticulo('delete', articulo)"
                                class="btn btn-small btn-danger">
                                <i class="glyphicon glyphicon-remove"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<button ng-click="openModalArticulo('create', null)" class="btn btn-small">
    Nuevo <span><i class="glyphicon glyphicon-plus"></i></span>
</button>

<form id        =  "uploadForm"
     enctype   =  "multipart/form-data"
     action    =  "/api/image"
     method    =  "post"
>
<input type="file" name="articuloImage" />
<input type="submit" value="Upload Image" name="submit">
</form>






<!-- <xwebapp-lateral-bar></xwebapp-lateral-bar>
<div class="container">
    <div class="row">
        <div class="col-md-2">
            
        </div>
        <div class="col-md-10">
            <div class="table-responsive">
                <table ng-table="articulosTable" class="table">
                    <thead>
                    <tr>
                        <th style="max-width: 50px">Id</th>
                        <th style="max-width: 200px">Descripcion</th>
                        <th style="max-width: 70px">Unidad</th>
                        <th style="max-width: 70px">Valor de reposicion</th>
                        <th style="max-width: 70px">Precio unitario</th>
                        <th style="max-width: 70px">Fecha de creacion</th>
                        <th style="max-width: 70px">Fecha de ultima edicion</th>
                        <th style="max-width: 20px"></th>
                        <th style="max-width: 20px"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="articulo in $data.Articulos" ng-click="setSelected(articulo.ID_ART)"
                        ng-class="{selected: articulo.ID_ART === idSelectedArticulo}">
                        <td style="max-width: 50px">{{articulo.ID_ART}}</td>
                        <td style="max-width: 200px">{{articulo.DESC}}</td>
                        <td style="max-width: 70px">{{articulo.CANT_MED}}</td>
                        <td style="max-width: 70px">{{articulo.VAL_REP}}</td>
                        <td style="max-width: 70px">{{articulo.PR_UNIT}}</td>
                        <td style="max-width: 70px">{{articulo.CRT_TIM|date:'medium'}}</td>
                        <td style="max-width: 70px">{{articulo.UPD_TIM|date:'medium'}}</td>
                        <td style="width:20px">
                            <button ng-if="articulo.ID_ART === idSelectedArticulo"
                                ng-click="openModal('edit', articulo)"
                                class="btn btn-small btn-primary">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </button>
                        </td>
                        <td style="width:20px">
                            <button ng-if="articulo.ID_ART === idSelectedArticulo"
                                ng-click="openModal('delete', articulo)"
                                class="btn btn-small btn-danger">
                                <i class="glyphicon glyphicon-remove"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
             <div class="row">
                    <button ng-click="openModal('create', null)"
                            class="btn btn-small hvr-fade">
                        Crear articulo <span><i class="glyphicon glyphicon-plus"></i></span>
                    </button>
                </div>
        </div>
        
    </div>
    
</div> -->