<div class="panel panel-default panel-primary">
	<div class="panel-heading clearfix">
		<h2 class="panel-title">
			Clientes
			<button ng-click="clienteCtrl.switchTableMode()" class="pull-right btn btn-small btn-danger btn_separate">
				 <i ng-if="clienteCtrl.tableMode" class="fa fa-print" aria-hidden="true"></i> <i ng-if="clienteCtrl.tableMode" class="fa fa-file-pdf-o" aria-hidden="true"></i> <i ng-if="!clienteCtrl.tableMode" class="fa fa-long-arrow-left" aria-hidden="true"></i>
			</button>
			<span modal-directive
						modal-data="clienteCtrl.modalCreate"
						modal-extra-data="clienteCtrl.tipoPersona"></span>
		</h2>
	</div>
	<div class="panel-body">
		<div class="table-responsive" ng-if="clienteCtrl.tableMode">
			<div class="table-responsive" ng-if="clienteCtrl.tableMode">
				<table class="table table-striped" ng-table-dynamic="clienteCtrl.table with columns" show-filter="true">
					<tr ng-repeat="cliente in $data track by cliente.ID_PROVEEDOR_CLIENTE"
							ng-click="clienteCtrl.setSelected(cliente.ID_PROVEEDOR_CLIENTE)"
							ng-class="{info: cliente.ID_PROVEEDOR_CLIENTE === clienteCtrl.idSelectedCliente}">
							<td ng-repeat="col in columns" ng-class="{button_cell: col.field=='BUTTONS'}">
								{{cliente[col.field]}}
								<div ng-if="cliente.ID_PROVEEDOR_CLIENTE === clienteCtrl.idSelectedCliente && col.field=='BUTTONS'">
									<span modal-directive
											modal-data="clienteCtrl.modalEdit"
											modal-selected-data="cliente"
											modal-extra-data="clienteCtrl.tipoPersona">
									</span>
									<span modal-directive
											modal-data="clienteCtrl.modalDelete"
											modal-selected-data="cliente"
											modal-extra-data="clienteCtrl.tipoPersona">
									</span>
								</div>
							</td>
					</tr>
				</table>
		</div>
		<div ng-if="!clienteCtrl.tableMode" id="gridCliente" ui-grid="gridOptions" ui-grid-exporter ui-grid-selection class="grid">
		</div>
	</div>
</div>
