<div class="modal-header">
  <h3 class="modal-title">Nuevo Usuario</h3>
</div>
<div class="modal-body">
  <form role="form" name="formCreateUsuario" ng-submit="createUsuario(user_created)" novalidate>
    <div class="form-group" ng-class="{'has-error':formCreateUsuario.nombreF.$error.required && !formCreateUsuario.nombreF.$pristine}">
      <label for="nombre">Nombre</label>
      <input type="text" class="form-control" id="nombre" name="nombreF" ng-model="user_created.NOMBRE" placeholder="Nombre" required>
      <span ng-show="formCreateUsuario.nombreF.$error.required && !formCreateUsuario.nombreF.$pristine" class="help-block">Su nombre es obligatorio</span>
    </div>
    <div class="form-group">
      <label for="apellidos">Apellidos</label>
      <input type="text" class="form-control" id="apellidos" name="apellidosF" ng-model="user_created.APELLIDOS" placeholder="Apellidos" required>
      <span ng-show="formCreateUsuario.apellidosF.$error.required && !formCreateUsuario.apellidosF.$pristine" class="help-block">Sus apellidos son obligatorios</span>
    </div>
    <div class="form-group has-feedback" ng-class="{'has-error':(formCreateUsuario.emailF.$invalid || formCreateUsuario.emailF.$error.required) && !formCreateUsuario.emailF.$pristine}">
      <label for="email" class="control-label">Correo electronico</label>
      <input type="email" class="form-control" id="email" name="emailF" ng-model="user_created.EMAIL" placeholder="Correo electronico" required>
      <span ng-show="formCreateUsuario.emailF.$invalid && !formCreateUsuario.emailF.$pristine"
            class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
      <span ng-show="(formCreateUsuario.emailF.$invalid || formCreateUsuario.emailF.$error.required) && !formCreateUsuario.emailF.$pristine" class="help-block">Ingrese un correo electronico valido</span>
    </div>
    <div class="form-group has-feedback" ng-class="{'has-error':(formCreateUsuario.passwordF.$invalid || formCreateUsuario.passwordF.$error.required) && !formCreateUsuario.passwordF.$pristine}">
      <label for="password">Contrase&ntilde;a</label>
      <input type="password" class="form-control" id="password" name="passwordF" ng-model="user_created.PASSWORD" placeholder="Contrase&ntilde;a" required>
      <span ng-show="formCreateUsuario.passwordF.$invalid && !formCreateUsuario.passwordF.$pristine"
            class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
      <span ng-show="(formCreateUsuario.passwordF.$invalid || formCreateUsuario.passwordF.$error.required) && !formCreateUsuario.passwordF.$pristine" class="help-block">Ingrese una contrase&ntilde;a valida</span>
    </div>
    <div class="form-group">
      <label for="tipousuario">Tipo de usuario</label>
      <select class="form-control" ng-model="user_created.FK_TIPO_USUARIO" name="obj" ng-options="obj.ID_TIPO_USUARIO as obj.TIPO for obj in tipoUsuarioList">
      </select>
    </div>
    <div class="form-group">
      <label for="fileform">Foto</label>
      <!--el atributo name es muy importante, este define el nombrebase del archivo , revisar usuariosDAO-->
      <input type="file" id="fileform" name="userPhoto" file-model="user_created.FOTO_FILE">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-success" ng-disabled="formCreateUsuario.$invalid">
        <i class="fa fa-check" aria-hidden="true"></i>
      </button>
      <button class="btn btn-danger" type="button" ng-click="cancel()">
        <i class="fa fa-times" aria-hidden="true"></i>
      </button>
    </div>
  </form>
</div>