<div class="modal-header">
    <h3 class="modal-title">Editando almacen</h3>
</div>
<div class="modal-body">
    <form>
      <div class="form-group">
        <label for="descripcion_alm">Descripcion</label>
        <input type="text" class="form-control" id="descripcion_alm" ng-model="selected_almacen.ID_ALM" placeholder="{{selected_almacen.ID_ALM}}">
      </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="editAlmacen(selected_almacen)">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>