<div class="panel panel-default panel-primary">
    <div class="panel-heading clearfix">
        <h3 class="panel-title">Usuarios
            <button ng-click="usuariosCtrl.switchTableMode()" class="pull-right btn btn-small btn-danger btn_separate">
                 <i ng-if="usuariosCtrl.tableMode" class="fa fa-print" aria-hidden="true"></i> <i ng-if="usuariosCtrl.tableMode" class="fa fa-file-pdf-o" aria-hidden="true"></i> <i ng-if="!usuariosCtrl.tableMode" class="fa fa-long-arrow-left" aria-hidden="true"></i>
            </button>
			<span modal-directive
					modal-data="usuariosCtrl.modalCreate"
					modal-extra-data="usuariosCtrl.tipoUsuarioList"></span>
        </h3>
    </div>
    <div class="panel-body">
        <div class="table-responsive" ng-if="usuariosCtrl.tableMode">
            <table class="table table-striped" ng-table-dynamic="usuariosCtrl.table with columns" show-filter="true">
                <tr ng-repeat="usuario in $data track by usuario.ID_USUARIO"
                    ng-click="usuariosCtrl.setSelected(usuario.ID_USUARIO)"
                    ng-class="{info: usuario.ID_USUARIO === usuariosCtrl.idSelectedUsuario}">
					<td ng-repeat="col in columns" ng-class="{button_cell: col.field=='BUTTONS'}">
						<div ng-if="col.field!=='FOTO'">
							{{usuario[col.field]}}
						</div>
						<div ng-if="col.field=='FOTO'">
							<img class="img-thumbnail" ng-src={{usuario[col.field]}} width="100" height="100">
						</div>
						<div ng-if="usuario.ID_USUARIO === usuariosCtrl.idSelectedUsuario && col.field=='BUTTONS'">
							<span modal-directive
									modal-data="usuariosCtrl.modalEdit"
									modal-selected-data="usuario"
									modal-extra-data="usuariosCtrl.tipoUsuarioList">
							</span>
							<span modal-directive
									modal-data="usuariosCtrl.modalDelete"
									modal-selected-data="usuario"
									modal-extra-data="usuariosCtrl.tipoUsuarioList">
							</span>
						</div>
					</td>
                </tr>
            </table>
        </div>
        <div ng-if="!usuariosCtrl.tableMode" id="gridUsuarios" ui-grid="gridOptions" ui-grid-exporter ui-grid-selection class="grid">
        </div>
    </div>
</div>
