
<div class ="row">
	<div menu-home menu-data="homeCtrl.menu.dashboard"></div>
	<div menu-home menu-data="homeCtrl.menu.usuario"></div>
	<div menu-home menu-data="homeCtrl.menu.almacen"></div>
	<div menu-home menu-data="homeCtrl.menu.articulo"></div>
</div>

<div ng-if="homeCtrl.show.usuario" class="back-red">
	<div class="row">
		<div class="col-md-3">
			<div class="container-image-menu">
				<i class="glyphicon glyphicon-log-in center-icon" ui-sref="app.usuariosacceso"></i>
				<div class="overlay back-red img-circle">
					<i class="glyphicon glyphicon-log-in center-icon" ui-sref="app.usuariosacceso"></i>
				</div>
			</div>
			<div class="pie-image-menu-red">
				<h2>Derechos de acceso</h2>
				<p>Creacion, edicion de los permisos de la aplicacion.</p>
			</div>
		</div>
		<div class="col-md-3">
			<div class="container-image-menu">
			<i class="glyphicon glyphicon-pawn center-icon" ui-sref="app.usuariostipo"></i>
				<div class="overlay back-red img-circle">
					<i class="glyphicon glyphicon-pawn center-icon" ui-sref="app.usuariostipo"></i>
				</div>
			</div>
			<div class="pie-image-menu-red">
				<h2>Tipos de usuario</h2>
				<p>Creacion y edicion de los tipos de usuario que pueden existir en la aplicacion.</p>
			</div>
		</div>
		<div class="col-md-3">
			<div class="container-image-menu">
				<i class="glyphicon glyphicon-cog center-icon" ui-sref="app.usuarios"></i>
				<div class="overlay back-red img-circle">
					<i class="glyphicon glyphicon-cog center-icon" ui-sref="app.usuarios"></i>
				</div>
			</div>
			<div class="pie-image-menu-red">
				<h2>Gestion de usuarios</h2>
				<p>Creacion y edicion de los usuarios finales de la aplicacion.</p>
			</div>
		</div>
	</div>
</div>

<div ng-if="homeCtrl.show.almacen" class="back-green">
	<div class="row">
		<div class="col-md-3">
			<div class="container-image-menu">
				<i class="glyphicon glyphicon-cog center-icon" ui-sref="app.almacenesgestion"></i>
				<div class="overlay back-green img-circle">
					<i class="glyphicon glyphicon-cog center-icon" ui-sref="app.almacenesgestion"></i>
				</div>
			</div>
			<div class="pie-image-menu-green">
				<h2>Gestion de almacenes</h2>
				<p>Creacion, edicion de almacenes.</p>
			</div>
		</div>
		<div class="col-md-3">
			<div class="container-image-menu">
				<i class="glyphicon glyphicon-pushpin center-icon" ui-sref="app.almacenes"></i>
				<div class="overlay back-green img-circle">
					<i class="glyphicon glyphicon-pushpin center-icon" ui-sref="app.almacenes"></i>
				</div>
			</div>
			<div class="pie-image-menu-green">
				<h2>Escoger almacen</h2>
			</div>
		</div>
	</div>
</div>

<div ng-if="homeCtrl.show.articulo" class="back-blue">
	<div class="row">
		<div class="col-md-3">
			<div class="container-image-menu">
				<i class="glyphicon glyphicon-cog center-icon" ui-sref="app.articuloscategoria"></i>
				<div class="overlay back-blue img-circle">
					<i class="glyphicon glyphicon-cog center-icon" ui-sref="app.articuloscategoria"></i>
				</div>
			</div>
			<div class="pie-image-menu-blue">
				<h2>Categorias de articulos</h2>
				<p>Creacion, edicion de estas categorias.</p>
			</div>
		</div>
		<div class="col-md-3">
			<div class="container-image-menu">
				<i class="glyphicon glyphicon-cog center-icon" ui-sref="app.articulos"></i>
				<div class="overlay back-blue img-circle">
					<i class="glyphicon glyphicon-cog center-icon" ui-sref="app.articulos"></i>
				</div>
			</div>
			<div class="pie-image-menu-blue">
				<h2>Gestion de articulos</h2>
				<p>Creacion, edicion de articulos.</p>
			</div>
		</div>
	</div>
</div>

<div ng-if="homeCtrl.show.cliprov" class="back-purple">
	<div class="row">
		<div class="col-md-3">
			<div class="container-image-menu">
				<i class="fa fa-blind center-icon" ui-sref="app.cliente"></i>
				<div class="overlay back-purple img-circle">
					<i class="fa fa-blind center-icon" ui-sref="app.cliente"></i>
				</div>
			</div>
			<div class="pie-image-menu-purple">
				<h2>Clientes</h2>
				<p></p>
			</div>
		</div>
		<div class="col-md-3">
			<div class="container-image-menu">
				<i class="fa fa-industry center-icon" ui-sref="app.proveedor"></i>
				<div class="overlay back-purple img-circle">
					<i class="fa fa-industry center-icon" ui-sref="app.proveedor"></i>
				</div>
			</div>
			<div class="pie-image-menu-purple">
				<h2>Proveedores</h2>
				<p></p>
			</div>
		</div>
		<div class="col-md-3">
			<div class="container-image-menu">
				<i class="glyphicon glyphicon-cog center-icon" ui-sref="app.tipopersona"></i>
				<div class="overlay back-purple img-circle">
					<i class="glyphicon glyphicon-cog center-icon" ui-sref="app.tipopersona"></i>
				</div>
			</div>
			<div class="pie-image-menu-purple">
				<h2>Tipos de persona</h2>
				<p></p>
			</div>
		</div>
	</div>
</div>

<div ng-if="homeCtrl.show.movimiento" class="back-orange">
	<div class="row">
		<div class="col-md-3">
			<div class="container-image-menu">
				<i class="glyphicon glyphicon-triangle-right center-icon" ui-sref="app.ingreso"></i>
				<div class="overlay back-orange img-circle">
					<i class="glyphicon glyphicon-triangle-right center-icon" ui-sref="app.ingreso"></i>
				</div>
			</div>
			<div class="pie-image-menu-orange">
				<h2>Ingresos</h2>
				<p>Creacion, edicion de ingresos.</p>
			</div>
		</div>
		<div class="col-md-3">
			<div class="container-image-menu">
				<i class="glyphicon glyphicon-triangle-left center-icon" ui-sref="app.salida"></i>
				<div class="overlay back-orange img-circle">
					<i class="glyphicon glyphicon-triangle-left center-icon" ui-sref="app.salida"></i>
				</div>
			</div>
			<div class="pie-image-menu-orange">
				<h2>Salidas</h2>
				<p>Creacion, edicion de salidas.</p>
			</div>
		</div>
		<div class="col-md-3">
			<div class="container-image-menu">
				<i class="glyphicon glyphicon-cog center-icon" ui-sref="app.tipodocumento"></i>
				<div class="overlay back-orange img-circle">
					<i class="glyphicon glyphicon-cog center-icon" ui-sref="app.tipodocumento"></i>
				</div>
			</div>
			<div class="pie-image-menu-orange">
				<h2>Tipo documento</h2>
				<p></p>
			</div>
		</div>
		<div class="col-md-3">
			<div class="container-image-menu">
				<i class="glyphicon glyphicon-cog center-icon" ui-sref="app.estado"></i>
				<div class="overlay back-orange img-circle">
					<i class="glyphicon glyphicon-cog center-icon" ui-sref="app.estado"></i>
				</div>
			</div>
			<div class="pie-image-menu-orange">
				<h2>Estado</h2>
				<p></p>
			</div>
		</div>
	</div>
</div>

<div class ="row">
	<div menu-home menu-data="homeCtrl.menu.cliprov"></div>
	<div menu-home menu-data="homeCtrl.menu.movimiento"></div>
</div>
