<div class="col-xs-6">
	<div class ="row" ng-repeat="almacen in almacenesCtrl.almacenesData.Almacenes" ng-if="$even">
		<button class="btn btn-success bigButton"
				type="button"
				ui-sref="app.almacenesdetalle({id_almacen: almacen.ID_ALMACEN, codigo_almacen: almacen.CODIGO_ALMACEN})">
			{{almacen.CODIGO_ALMACEN}}
       	</button>
	</div>
</div>
<div class="col-xs-6">
	<div class ="row" ng-repeat="almacen in almacenesCtrl.almacenesData.Almacenes" ng-if="$odd">
		<button class="btn btn-info bigButton"
				type="button"
				ui-sref="app.almacenesdetalle({id_almacen: almacen.ID_ALMACEN, codigo_almacen: almacen.CODIGO_ALMACEN})">
			{{almacen.CODIGO_ALMACEN}}
       	</button>
	</div>
</div>
