
<div class="panel panel-default"
		ng-class="{'panel-primary': !ingresoCtrl.modeEditDetalle, 'panel-danger': ingresoCtrl.modeEditDetalle}">
	<div class="panel-heading clearfix">
		<h1 class="panel-title">
			<b><big>Ingresos</big></b>
			<button ng-click="ingresoCtrl.switchTableMode()"
					class="pull-right btn btn-small btn-danger btn_separate"
					ng-disabled="ingresoCtrl.modeEditDetalle">
					<i ng-if="ingresoCtrl.tableMode"
						class="fa fa-print"
						aria-hidden="true">
					</i>
					<i ng-if="ingresoCtrl.tableMode"
						class="fa fa-file-pdf-o"
						aria-hidden="true">
					</i>
					<i ng-if="!ingresoCtrl.tableMode"
						class="fa fa-long-arrow-left"
						aria-hidden="true">
					</i>
			</button>
			<button ng-click="ingresoCtrl.openModalIngreso('create', null)"
					class="btn_separate pull-right btn btn-small btn-success"
					ng-disabled="ingresoCtrl.modeEditDetalle">
				Nuevo <span><i class="glyphicon glyphicon-plus"></i></span>
			</button>
		</h2>
	</div>
	<div class="panel-body">
		<div class="table-responsive" ng-if="ingresoCtrl.tableMode">
			<table class="table table-striped" ng-table="ingresoCtrl.ingresoTable">
				<tr ng-repeat="ingreso in $data track by ingreso.ID_INGRESO"
					ng-click="ingresoCtrl.setSelected(ingreso.ID_INGRESO)"
					ng-class="{info: ingreso.ID_INGRESO === ingresoCtrl.idSelectedIngreso}">

					<td data-title="'Codigo de Ingreso'"
						filter="{CODE_INGRESO: 'text'}"
						sortable="'CODE_INGRESO'">
						{{ingreso.CODE_INGRESO}}
					</td>

					<td data-title="'Costo Total'"
						filter="{COSTO_TOTAL: 'text'}"
						sortable="'COSTO_TOTAL'">
						{{ingreso.COSTO_TOTAL}}
					</td>

					<td data-title="'Fecha de ingreso'"
						filter="{FECHA_INGRESO: 'text'}"
						sortable="'FECHA_INGRESO'">
						{{ingreso.FECHA_INGRESO | date: 'dd-MM-yyyy'}}
					</td>

					<td data-title="'Usuario creador'"
						filter="{CREATE_USUARIO: 'text'}"
						sortable="'CREATE_USUARIO'">
						{{ingreso.CREATE_USUARIO}}
					</td>

					<td data-title="'Fecha de creacion'"
						filter="{CREATE_TIME: 'text'}"
						sortable="'CREATE_TIME'">
						{{ingreso.CREATE_TIME | date: 'dd-MM-yyyy HH:mm'}}
					</td>

					<td data-title="'Usuario update'"
						filter="{UPDATE_USUARIO: 'text'}"
						sortable="'UPDATE_USUARIO'">
						{{ingreso.UPDATE_USUARIO | date: 'dd-MM-yyyy HH:mm'}}
					</td>

					<td data-title="'Proveedor'"
						filter="{NOMBRE_PROVEEDOR: 'text'}"
						sortable="'NOMBRE_PROVEEDOR'">
						{{ingreso.NOMBRE_PROVEEDOR}}
					</td>

					<td data-title="'Tipo de documento'"
						filter="{DESCRIPCION: 'text'}"
						sortable="'DESCRIPCION'">
						{{ingreso.DESCRIPCION}}
					</td>

					<td style="width:60px">
						<button ng-if="ingreso.ID_INGRESO === ingresoCtrl.idSelectedIngreso"
								ng-click="ingresoCtrl.openModalIngreso('edit', ingreso)"
								ng-disabled="ingresoCtrl.modeEditDetalle"
								class="btn btn-small btn-primary">
							<i class="glyphicon glyphicon-pencil"></i>
						</button>
					</td>
					<td style="width:60px">
						<button ng-if="ingreso.ID_INGRESO === ingresoCtrl.idSelectedIngreso"
								ng-click="ingresoCtrl.openModalIngreso('delete', ingreso)"
								ng-disabled="ingresoCtrl.modeEditDetalle"
								class="btn btn-small btn-danger">
							<i class="glyphicon glyphicon-remove"></i>
						</button>
					</td>
				</tr>
			</table>
		</div>

		<div ng-if="!ingresoCtrl.tableMode" id="gridIngreso" ui-grid="gridOptions" ui-grid-exporter ui-grid-selection class="grid">
		</div>
	</div>
	<div class="panel-footer">
		.
		<div class="pull-right">Numero de lineas a mostrar <i class="fa fa-level-up" aria-hidden="true"></i></div>
	</div>
</div>

<div ng-class="{'col-xs-6': ingresoCtrl.modeEditDetalle}" ng-if="ingresoCtrl.modeEditDetalle">
	<div class="panel panel-default panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Articulos</h3>
		</div>
		<div class="panel-body">
			<div class="table-responsive">
				<table class="table table-striped" ng-table="ingresoCtrl.articuloTable" show-filter="true">
					<tr ng-repeat="articulo in $data track by articulo.ID_ARTICULO"
						ng-click="ingresoCtrl.setSelectedArticulo(articulo.ID_ARTICULO)"
						ng-dblclick="ingresoCtrl.insertIntoDetalleTable(articulo)"
						ng-class="{info: articulo.ID_ARTICULO === ingresoCtrl.idSelectedArticulo}">

						<td data-title="'Imagen'">
							<img class="img-thumbnail" ng-src={{articulo.IMAGEN}} width="100" height="100">
						</td>

						<td data-title="'Codigo articulo'"
							filter="{CODIGO_ARTICULO: 'text'}"
							sortable="'CODIGO_ARTICULO'">
								{{articulo.CODIGO_ARTICULO}}
						</td>

						<td data-title="'Unidad'"
							filter="{UNIDAD: 'text'}"
							sortable="'UNIDAD'">
								{{articulo.UNIDAD}}
						</td>

						<td data-title="'Categoria'"
							filter="{CATEGORIA: 'text'}"
							sortable="'CATEGORIA'">
								{{articulo.CATEGORIA}}
						</td>
					</tr>

				</table>
			</div>
		</div>
	</div>
</div>

<div ng-class="{'col-xs-6': ingresoCtrl.modeEditDetalle}">
	<!-- <form role="form"
				name="formDetalleIngreso"
				ng-submit="ingresoCtrl.validateDetalleIngreso()"
				novalidate> -->
		<div class="panel panel-default panel-primary"
				ng-if="ingresoCtrl.idSelectedIngreso">
			<div class="panel-heading clearfix">
				<h2 class="panel-title">
					Detalles del ingreso
					<button ng-if="ingresoCtrl.modeEditDetalle"
							ng-click="ingresoCtrl.cancelModeDetalle()"
							class="btn_separate pull-right btn btn-small btn-danger">
							<i class="fa fa-times"
								aria-hidden="true">
							</i>
					</button>
					<button ng-if="ingresoCtrl.modeEditDetalle"
							ng-click="ingresoCtrl.validateDetalleIngreso()"
							ng-disabled="ingresoCtrl.checkDetalleIngresoList()"
							class="pull-right btn btn-small btn-success btn_separate">
							<i class="fa fa-check"
						 		aria-hidden="true">
						 	</i>
					</button>
					<button ng-if="!ingresoCtrl.modeEditDetalle"
							ng-click="ingresoCtrl.switchModeDetalle()"
							class="pull-right btn btn-small btn-success btn_separate">
							<i class="fa fa-pencil-square-o"
						 		aria-hidden="true">
						 	</i>
					</button>
				</h2>
			</div>

			<div class="panel-body">
				<div class="table-responsive" ng-if="!ingresoCtrl.modeEditDetalle">
					<table class="table table-striped" ng-table="ingresoCtrl.detalleIngresoTable">
						<tr ng-repeat="detalleIngreso in $data track by detalleIngreso.ID_DETALLE_INGRESO">
							<td data-title="'Imagen'">
								<img class="img-thumbnail"
										ng-src={{detalleIngreso.IMAGEN}}
										width="100"
										height="100">
							</td>

							<td data-title="'Cantidad'"
								filter="{CANTIDAD: 'text'}"
								sortable="'CANTIDAD'">
									{{detalleIngreso.CANTIDAD}}
							</td>

							<td data-title="'Precio'"
								filter="{PRECIO: 'text'}"
								sortable="'PRECIO'">
								{{detalleIngreso.PRECIO | currency}}
							</td>

							<td data-title="'Subtotal'">
								{{detalleIngreso.CANTIDAD * detalleIngreso.PRECIO_UNITARIO | currency}}
							</td>

							<td data-title="'Codigo Articulo'"
								filter="{CODIGO_ARTICULO: 'text'}"
								sortable="'CODIGO_ARTICULO'">
								{{detalleIngreso.CODIGO_ARTICULO}}
							</td>

							<td data-title="'Codigo Almacen'"
								filter="{CODIGO_ALMACEN: 'text'}"
								sortable="'CODIGO_ALMACEN'">
								{{detalleIngreso.CODIGO_ALMACEN}}
							</td>
							
						</tr>
					</table>
				</div>
				
				<div class="table-responsive" ng-if="ingresoCtrl.modeEditDetalle">
					<table class="table table-striped" ng-table="ingresoCtrl.detalleIngresoEditTable">
						<tr ng-repeat="detalleIngreso in $data"
							ng-dblclick="ingresoCtrl.removeDetalleTable(detalleIngreso)">

							<td data-title="'Imagen'">
								<img class="img-thumbnail" ng-src={{detalleIngreso.IMAGEN}} width="100" height="100">
							</td>

							<td data-title="'Cantidad'">
								<input type="number"
										min="0"
										ng-model="detalleIngreso.CANTIDAD"
										class="form-control"
										placeholder="Cantidad"
										required>
							</td>

							<td data-title="'Precio'"
								ng-model="detalleIngreso.PRECIO_UNITARIO">
								{{detalleIngreso.PRECIO_UNITARIO | currency}}
							</td>

							<td data-title="'Subtotal'"
								ng-model="detalleIngreso.SUBTOTAL">
								{{detalleIngreso.CANTIDAD * detalleIngreso.PRECIO_UNITARIO | currency}}
							</td>

							<td data-title="'Codigo Almacen'">
								<select class="form-control"
										ng-model="detalleIngreso.ID_ALMACEN"
										name="obj"
										ng-options="obj.ID_ALMACEN as obj.CODIGO_ALMACEN for obj in ingresoCtrl.almacenList"
										required>
								</select>
							</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="panel-footer">
				.
				<div class="pull-right">Numero de lineas a mostrar <i class="fa fa-level-up" aria-hidden="true"></i></div>
				<div class="pull-left" ng-if="!ingresoCtrl.modeEditDetalle"><strong>TOTAL: S/. {{ingresoCtrl.total()}}</strong></div>
				<div class="pull-left" ng-if="ingresoCtrl.modeEditDetalle"><strong>TOTAL: S/. {{ingresoCtrl.total('Edit')}}</strong></div>
			</div>
		</div>
</div>


