<div class="panel panel-default panel-primary">
	<div class="panel-heading clearfix">
		<h2 class="panel-title">
			Ingresos
			<button ng-click="ingresoCtrl.switchTableMode()" class="pull-right btn btn-small btn-danger btn_separate">
				 <i ng-if="ingresoCtrl.tableMode" class="fa fa-print" aria-hidden="true"></i> <i ng-if="ingresoCtrl.tableMode" class="fa fa-file-pdf-o" aria-hidden="true"></i> <i ng-if="!ingresoCtrl.tableMode" class="fa fa-long-arrow-left" aria-hidden="true"></i>
			</button>
			<button ng-click="ingresoCtrl.openModalIngreso('create', null)" class="btn_separate pull-right btn btn-small btn-success">
				Nuevo <span><i class="glyphicon glyphicon-plus"></i></span>
			</button>
		</h2>
	</div>
	<div class="panel-body">
		<div class="table-responsive" ng-if="ingresoCtrl.tableMode">
			<table class="table table-striped" ng-table="ingresoCtrl.ingresoTable">
				<tr ng-repeat="ingreso in $data track by ingreso.ID_INGRESO"
					ng-click="ingresoCtrl.setSelected(ingreso.ID_INGRESO)"
					ng-class="{info: ingreso.ID_INGRESO === ingresoCtrl.idSelectedIngreso}">					
					<!-- <td data-title="'ID'" filter="{ID_INGRESO: 'text'}" sortable="'ID_INGRESO'">{{ingreso.ID_INGRESO}}</td> -->
					<td data-title="'Codigo de Ingreso'" filter="{CODE_INGRESO: 'text'}" sortable="'CODE_INGRESO'">{{ingreso.CODE_INGRESO}}</td>
					<td data-title="'Costo Total'" filter="{COSTO_TOTAL: 'text'}" sortable="'COSTO_TOTAL'">{{ingreso.COSTO_TOTAL}}</td>
					<td data-title="'Usuario creador'" filter="{CREATE_USUARIO: 'text'}" sortable="'CREATE_USUARIO'">{{ingreso.CREATE_USUARIO}}</td>
					<td data-title="'Fecha de creacion'" filter="{CREATE_TIME: 'text'}" sortable="'CREATE_TIME'">{{ingreso.CREATE_TIME}}</td>
					<td data-title="'Usuario update'" filter="{UPDATE_USUARIO: 'text'}" sortable="'UPDATE_USUARIO'">{{ingreso.UPDATE_USUARIO}}</td>
					<td data-title="'Proveedor'" filter="{NOMBRE_PROVEEDOR: 'text'}" sortable="'NOMBRE_PROVEEDOR'">{{ingreso.NOMBRE_PROVEEDOR}}</td>
					<td data-title="'Tipo de documento'" filter="{DESCRIPCION: 'text'}" sortable="'DESCRIPCION'">{{ingreso.DESCRIPCION}}</td>
					<td style="width:60px">
						<button ng-if="ingreso.ID_INGRESO === ingresoCtrl.idSelectedIngreso"
							ng-click="ingresoCtrl.openModalIngreso('edit', ingreso)"
							class="btn btn-small btn-primary">
							<i class="glyphicon glyphicon-pencil"></i>
						</button>
					</td>
					<td style="width:60px">
						<button ng-if="ingreso.ID_INGRESO === ingresoCtrl.idSelectedIngreso"
							ng-click="ingresoCtrl.openModalIngreso('delete', ingreso)"
							class="btn btn-small btn-danger">
							<i class="glyphicon glyphicon-remove"></i>
						</button>
					</td>
				</tr>
			</table>
		</div>
		<div ng-if="!ingresoCtrl.tableMode" id="gridIngreso" ui-grid="gridOptions" ui-grid-exporter ui-grid-selection class="grid">
		</div>
	</div>
</div>


