<div class="modal-header">
    <h3 class="modal-title">Nueva categoria</h3>
</div>
<div class="modal-body">
  <form>
    <div class="form-group">
      <label for="descripcion">Descripcion</label>
      <input type="text" class="form-control" id="descripcion" ng-model="categoria_created.DESCRIPCION" placeholder="Descripcion">
    </div>
  </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="createCategoria(categoria_created)">Crear</button>
    <button class="btn btn-danger" type="button" ng-click="cancel()">Cancelar</button>
</div>