<div class="modal-header">
	<h3 class="modal-title">Editando categoria</h3>
</div>
<div class="modal-body">
	<form>
		<div class="form-group">
			<label for="descripcion">Descripcion</label>
			<input type="text"
			class="form-control"
			id="descripcion"
			ng-model="modalCategoriaCtrl.selected_categoria.DESCRIPCION"
			placeholder="{{modalCategoriaCtrl.selected_categoria.DESCRIPCION}}">
		</div>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-success"
			type="button"
			ng-click="modalCategoriaCtrl.editCategoria(modalCategoriaCtrl.selected_categoria)">
		Editar <i class="fa fa-check" aria-hidden="true"></i>
	</button>
	<button class="btn btn-danger"
			type="button"
			ng-click="modalCategoriaCtrl.cancel()">
		Cancelar <i class="fa fa-times" aria-hidden="true"></i>
	</button>
</div>