<div class="panel panel-default panel-primary">
    <div class="panel-heading clearfix">
        <h2 class="panel-title">Almacenes
            <button ng-click="almacenesGestionCtrl.switchTableMode()" class="pull-right btn btn-small btn-danger btn_separate">
                 <i ng-if="almacenesGestionCtrl.tableMode" class="fa fa-print" aria-hidden="true"></i> <i ng-if="almacenesGestionCtrl.tableMode" class="fa fa-file-pdf-o" aria-hidden="true"></i> <i ng-if="!almacenesGestionCtrl.tableMode" class="fa fa-long-arrow-left" aria-hidden="true"></i>
            </button>
            <span modal-directive modal-data="almacenesGestionCtrl.modalCreate"></span>
        </h2>
    </div>
    <div class="panel-body">
        <div class="table-responsive" ng-if="almacenesGestionCtrl.tableMode">
            <table class="table table-striped" ng-table="almacenesGestionCtrl.table" show-filter="true">
                <tr ng-repeat="almacen in $data track by almacen.ID_ALMACEN"
                    ng-click="almacenesGestionCtrl.setSelected(almacen.ID_ALMACEN)"
                    ng-class="{info: almacen.ID_ALMACEN === almacenesGestionCtrl.idSelectedAlmacen}">
<!--                     <td data-title="'ID'" filter="{ID_ALMACEN: 'text'}" sortable="'ID_ALMACEN'">{{almacen.ID_ALMACEN}}</td> -->
                    <!-- <td data-title="'CODIGO_ALMACEN'" filter="{CODIGO_ALMACEN: 'text'}" sortable="'CODIGO_ALMACEN'">{{almacen.CODIGO_ALMACEN}}</td>
                    <td data-title="'UBICACION'" filter="{UBICACION: 'text'}" sortable="'UBICACION'">{{almacen.UBICACION}}</td> -->
                    <!-- <td data-title=almacenesGestionCtrl.labels[0].title
                        filter=almacenesGestionCtrl.labels[0].filter
                        sortable=almacenesGestionCtrl.labels[0].title>{{almacen[almacenesGestionCtrl.labels[0].title]}}
                    </td> -->
                    <td ng-repeat="label in almacenesGestionCtrl.labels"
                        data-title=label.title
                        filter=label.filter
                        sortable=label.title>{{almacen[label.title]}}
                    </td>
                    <td style="width:60px">
                        <div ng-if="almacen.ID_ALMACEN === almacenesGestionCtrl.idSelectedAlmacen">
                            <div modal-directive
                                modal-data="almacenesGestionCtrl.modalEdit"
                                modal-selected-data="almacen">
                            </div>
                        </div>
                    </td>
                    <td style="width:60px">
                        <div ng-if="almacen.ID_ALMACEN === almacenesGestionCtrl.idSelectedAlmacen">
                            <div modal-directive
                                modal-data="almacenesGestionCtrl.modalDelete"
                                modal-selected-data="almacen">
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div ng-if="!almacenesGestionCtrl.tableMode" id="gridAlmacenesGestion" ui-grid="gridOptions" ui-grid-exporter ui-grid-selection class="grid">
        </div>
    </div>
</div>
